.homepage {
  width: 100%; /* Fill the width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding-top: 100px; /* Adjust based on your navbar's height */
  background-color: #FFF9EF;
}

.navbar {
    position: fixed; /* Fixed position to keep it at the top */
    top: 0; /* Position at the top */
    left: 0;
}

.blog-carousel {
  width: 100%; /* Set the slider's width to fill its parent container */
  /* Remove any margins or padding if they exist, or adjust them accordingly */
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; /* Ensure at least full viewport height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.separator-bar {
  height: 50px; /* Height of the separator bar */
  background-color: #E9E7E7; /* Gray color */
  width: 100%; /* Full width */
  margin: 0px 0; /* Add some vertical space before and after the bar */
}
