body {
    margin: 0;
    padding-top: 100px; /* Adjust based on your navbar's height */
    background-color: #FFF9EF;
  }

.navbar {
    position: fixed; /* Fixed position to keep it at the top */
    top: 0; /* Position at the top */
    left: 0;
}
