.blog-carousel {
  position: relative;
  margin-top: 0px;
  width: 100%; /* Ensure the carousel takes the full width of its parent */
  height: 550px; /* Fixed height to prevent size changes */
  overflow: hidden; /* Ensures nothing spills outside the carousel bounds */
}

.slide {
  display: none; /* Hide slides by default */
  position: absolute; /* Position slides on top of each other */
  width: 100%;
  height: 100%;
}

.slide.active {
  display: flex; /* Only the active slide is displayed */
  justify-content: center;
  align-items: center;
}



.carousel-image img {
  object-fit: contain;
}

.content {
  position: absolute;
  bottom: 20px;
  left: 50%; /* Center the content horizontally */
  transform: translateX(-50%); /* Adjust for the content's width */
  z-index: 2;
  text-align: center; /* Center text within the content box */
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for legibility */
  padding: 10px;
  border-radius: 5px; /* Optional: rounded corners for the content box */
}

.blog-carousel .slide .content .title {
  margin-top: 2px;
  font-size: 24px; /* Adjust to your preferred size */
  font-weight: bold; /* Makes the text bold */
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3; /* Ensure they are above all other content */
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for visibility */
  border: none;
  padding: 5px 10px; /* Smaller padding */
  font-size: 18px; /* Smaller arrow size */
  /* Optionally, add width and height if you want explicit sizes */
  width: 30px; /* Example width, adjust as needed */
  height: 30px; /* Example height, adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Circular buttons */
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.left-arrow:hover, .right-arrow:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8); 
}
