.trending-restaurants .restaurants-list {
    display: flex;
    overflow-x: auto;
  }
    
  .restaurant-item {
    text-align: center;
    margin-right: 60px;
    margin-left: 60px;
    color: black;
  }
  
  .restaurant-item img {
    width: 300px; /* Set your desired size */
    margin-bottom: 10px;
  }

  .trending-restaurants-title {
    color: black; /* Example: change the color */
    text-align: center; /* Center align the title */
    font-size: 24px; /* Increase the font size */
    margin-bottom: 20px; /* Add some space below the title */
    margin-top: 20px;
  }
    
    /* Add responsive styles as needed */
  @media (max-width: 768px) {
  .content {
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px); /* Adjust based on the left and right spacing */
  }
  
  .title, .author {
    font-size: smaller; /* Adjust font size for smaller screens */
  }
  }